@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @apply font-sans;
}

input:focus, select {
  outline: none;
}

input {
  font-weight: normal;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

.big-checkbox {
  transform: scale(1.7);
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -ms-transform: scale(1.7);
  -o-transform: scale(1.7);
}

.remove-img {
  width: 80px;
  margin: 50px auto;
}

.review-body::before {
  content: "“";
  left: -15px;
  top: -15px;
  position: absolute;
  font-size: 30px;
  font-weight: 700;
  color: #928f94;
}

.review-body::after {
  content: "”";
  right: 2px;
  bottom: -15px;
  position: absolute;
  font-size: 30px;
  font-weight: 700;
  color: #928f94;
}

/*  arrow-area  */
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  width: 25%;
  height: 56.64px;
  background: #2D2B2F;
  position: relative;
}

.arrow-active {
  background: #FFA800;
}

.arrow:before,
.arrow:after {
  content: "";
  position: absolute;
  top: 0;
  border-style: solid;
  border-width: 29px 0 29px 21px;
}

.arrow:before {
  border-color: transparent transparent transparent white;
  left: 1px;
}

.arrow:after {
  border-color: transparent transparent transparent #2D2B2F;
  left: 100%;
  z-index: 2;
}

.arrow-active:after {
  border-color: transparent transparent transparent #FFA800;
  left: 100%;
}

.steps .arrow:nth-child(2)::before {
  left: 0.5px;
}

.steps .arrow:first-child:before {
  left: 0.1%;
  border-color: transparent;
}

.steps .arrow:last-child:after {
  display: none;
}


@layer components {
  .title-25 {
    @apply w-fit text-[1.562rem] mb-[15px] font-medium;
  }

  .input-template {
    @apply px-4 py-3 bg-no-repeat bg-[right_10px_center] bg-[length:17px] rounded-[5px] text-black w-full ;
  }

  .passengers-input {
    @apply px-[10px] py-[8px] border border-[#928F94] rounded-md
  }

  .contact-img {
    @apply cursor-pointer w-[22px] h-[22px];
  }

  .contact-img:hover > path  {
    @apply fill-goldenOrange  
  }

  .btn-template {
    @apply cursor-pointer hover:shadow-lg font-bold text-[1rem] w-fit px-[40px] py-[10px] border border-solid rounded-[5px];
  }

  .btn-goldish {
    @apply active:text-black active:bg-white hover:text-black hover:bg-goldenOrange hover:border-goldenOrange
  }

  .btn-orange {
    @apply active:bg-transparent active:text-orange active:border-orange
  }

  .big-svg-template {
    @apply cursor-pointer w-[45px] h-[45px]
  }

  .carriage-type {
    @apply flex flex-col gap-2 items-center cursor-pointer text-[#C4C4C4]
  }

  .carriage-type:hover > svg path {
    @apply fill-[#FDB935]
  }

  .carriage-type:hover > p {
    @apply text-[#FFA800]
  }

  .add-option {
    @apply w-[30px] h-[30px] box-border bg-[#FDB935] p-[5px] hover:p-[4px] rounded-[5px] cursor-pointer hover:border-[2px] border-black
  }

  .add-option:hover > svg path {
    @apply fill-black
  }

  .add-option_inactive {
    @apply bg-white border-[2px] p-[4px] hover:bg-[#FDB935]
  }

  .add-option_inactive > svg path {
    @apply fill-black
  }
}

